<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer style="height: auto;" class="fixed-bottom">
  <hr/>
    <div class="container-fluid" style="background-color:white;">
    <div class="container-fluid">
      <div class="row">
        <a class="sample" routerLink="/home" style="margin-left:43pc;color: red;"><b>rythm</b></a>
        
          <div class="col-md-5 text-right">
            <div class="bg-circle-outline d-inline-block" style="margin-top: 10px; background-color:#3b5998">
              <a href="https://www.facebook.com/"><i class="fa fa-1x fa-fw fa-facebook text-white"></i>
	          	</a>
            </div>&nbsp;
            <div class="bg-circle-outline d-inline-block" style="background-color:#4099FF">
              <a href="https://twitter.com/">
                <i class="fa fa-1x fa-fw fa-twitter text-white"></i></a>
            </div>&nbsp;

            <div class="bg-circle-outline d-inline-block" style="background-color:palevioletred">
              <a href="https://www.instagram.com/company/">
                <i class="fa fa-1x fa-fw fa-instagram text-white"></i></a>
            </div>&nbsp;
            <div class="bg-circle-outline d-inline-block" style="background-color:#d34836">
              <a href="https://www.youtube.com/">
                <i class="fa fa-1x fa-fw fa-youtube text-white"></i></a>
            </div>
          </div>
            
          
        
      </div>
      
      <p class="text-center"> Copyright © rythm 2020. All right reserved. </p>
    </div>
    </div>
    
</footer>
    <!--/.footer-->

    <!--/.footer-bottom--> 