<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>


<style>
    * {
      box-sizing: border-box;
    }
    
    /* Create two equal columns that floats next to each other */
    .column {
      float: left;
      width: 50%;
      padding: 10px;
      height: 430px; /* Should be removed. Only for demonstration */
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
</style>
<app-header-admin></app-header-admin>
<br><br><br><br>
    <br>
    <div class="row">
      <div class="column" style="border-right: 1px solid;">
        <h2 style="text-align: center;">Add new Playlist</h2>
        <div style="padding-left: 100px;">
          <br>
          <b style="color: red;">{{succate}}</b>
          <br><br>
          
              <form class="form-inline" (submit)=addPlaylist($event)>
              <table>
                <tr>
                  <td>
                    Playlist Name:
                  </td>
                  <td>
                    <input class="form-control" type="text" name="plname" id="plname" placeholder="Enter New Playlist Name" required/>
                  </td>
                </tr>
                <br/>
                <tr> 
                  <td>
                    Choose Playlist Icon:
                  </td>
                  
                  <td>
                    <!-- <input  type="file" name="plimg" id="plimg" accept="image/*" required/> -->
                    <input type="file" (change)="handleFileInput($event.target.files)"  />
                    <tr>
                      <td>
                        <span style="color: red;font-size: 12px;">(Note: only jpg or png files are allowed)</span>
                      </td>
                      
                    </tr>  
                  </td> 
                </tr>
                <br/>
                <tr>
                  <td></td>
                  <td>
                    <img src="{{imgurl}}" alt="(preview icon)" style="width: 150px;height: 150px;">
                  </td>
                </tr>
                <br/>
                <tr>
                  <td></td>
                  <td>
                    <input class="btn btn-primary"  type="submit" value="Create Playlist"/>
                  </td>
                </tr>
              </table>
            </form>
        </div>
      </div>
      <div class="column" style="border-left: 1px solid;">
        <h2 style="text-align: center;">Update Playlist</h2>
        <div style="padding-left: 100px;">
            <br>
            <form class="form-inline">
              <table>
                <tr>
                  <td>
                    Playlist Name:
                  </td>
                  <td>
                    <select class="form-control" (change)="selectChangeHandler($event)">
                      <option >-select-</option>
                      <option *ngFor="let i of playlists" value="{{i.name}}">{{i.name}}</option>
                    </select>
                  </td>
                  <td>
                    <input class="btn btn-danger"  type="submit" value="Remove Playlist" (click)=removePlaylist()/>
                  </td>
                </tr>
                <br/>
                <tr>
                  <td>
                    Rename Playlist:
                  </td>
                  <td>
                    <input class="form-control" name="rename" value="{{rename}}" id="rename" placeholder="Rename here..." required/>
                  </td>
                </tr>
                <br/>
                <tr>
                  <td></td>
                  <td>
                    <input type="submit" class="btn btn-primary" value="Update Changes"/>
                  </td>
                </tr>
                <br/>
                
              </table>     
            </form>
        </div>
      </div>
    </div>
    <app-footer-admin></app-footer-admin>