<style>
    * {
      box-sizing: border-box;
    }
    
    /* Create two equal columns that floats next to each other */
    .column {
      float: left;
      width: 50%;
      padding: 10px;
      height: auto; /* Should be removed. Only for demonstration */
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
</style>
<app-header-admin></app-header-admin>
<br><br><br><br>
    <br>
    <div class="row">
      <div class="column" style="border-right: 1px solid;">
        <h2 style="text-align: center;">Add new Song</h2>
        <div style="padding-left: 100px;">
            <br>
            <form class="form-inline" (submit)=addSong($event)>
                
              <table>
                <tr>
                  <input class="form-control" type="text" name="sname" id="sname" placeholder="Enter New Song Name" required/>
                </tr>
                <tr> 
                  Choose Song File
                  <input  type="file" name="sfile" id="sfile" accept="image/*" required/>
                </tr>
                <tr>
                  <span style="color: red;font-size: 12px;">(Note: only .mp3 are allowed)</span>
                </tr>
                <tr>
                  <input class="form-control" type="text" name="fname" id="fname" placeholder="Enter Film Name (Optional)"/>
                </tr>
                <tr>
                  <input class="form-control" type="date" name="redate" id="redate" placeholder="Enter Release Date of Song" required/>
                </tr>
                <tr>
                  <input class="form-control" type="text" name="artist" id="artist" placeholder="Enter Name of Artist" required/>
                </tr>
                <tr>
                  Select Catagory of Song:
                  <select class="form-control">
                    <option >-select-</option>
                    <option  *ngFor="let i of catagories" value="{{i.Catagory}}">{{i.Catagory}}</option>
                  </select>
                </tr>
                <tr>
                  <table>
                    <tr>
                      <td>
                      Select Playlist(s) for Song: 
                      </td>
                      <td>
                        <tr>
                          <div style="display: inline;" *ngFor="let i of playlists">
                          <input class="form-control" type="checkbox" name="{{i.name}}" value="{{i.name}}">{{i.name}} |  
                          </div>
                        </tr>
                      </td>
                    </tr>
                  </table>
                </tr>
                <tr>
                  <input class="btn btn-primary"  type="submit" value="Add Song"/>
                </tr>
              </table>
            </form>
        </div>
      </div>
      <div class="column" style="border-left: 1px solid;">
        <h2 style="text-align: center;">Update Song</h2>

        <div class="container">
          <div class="row">
            <div class="search-hero">
              <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for song">
            </div>
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Song Name</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let song of songs | filter:searchText">
                
                <td>{{song.name}}</td>
                
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        

        <!-- <div style="padding-left: 100px;">
            <br>
            <form class="form-inline">
              <table>
                <tr>
                  <input class="form-control" style="width: 250%;" name="rename" value="{{rename}}" id="rename" placeholder="Search Song..." required/>
                </tr>
                <tr>
                </tr>

                  
              </table>
            </form>
        </div> -->
      </div>
    </div>

    <app-footer-admin></app-footer-admin>